.box-parent {
  font-size:0;
  width: 800px;
  height: 500px;
  background-color: pink;
}

.top {
  height:40%;
  width:100%;
}

.bottom{
  height:60%;
  width:100%;
}
.box-half {
  width: 50%;
  height:100%;
  
}

.box-third {
  width:33.3333%;
  width:calc(100%/3);
  height:100%;
  
}
.box{
  display:inline-block;
  border: 1px solid black;
} 